<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="index.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <title>StockExchange</title>
</head>

<body>
  <!-- navigation bar -->
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">StockExchange</a>
        </div>
        <!-- elements in navbar to collapse into button -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'stocks' %}">Exchange</a>
            </li>
            <li>
              <a href="{% url 'add' %}">Add</a>
            </li>
            <li>
              <a href="{% url 'search' %}">Search</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{% url 'signup' %}">
                <span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </li>
            <li>
              <a href="{% url 'login' %}">
                <span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">
                <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {% block content %}{% endblock %}
</body>
<footer class="footer">
  <div class="container" id="footer">
    <small>
      <center>
        Copyright © 2019 Stockexchange Technologies
      </center>
    </small>
  </div>
</footer>

</html>