{% extends "base_header.html" %}
{% load static %}
{% block content %}

<header class="jumbotron">
    <center>
        <div id="bigtalk">
            <br>
            <h2>Never Lose Touch with the Market</h2>
        </div>
    </center>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <h3>Buy</h3>
            <p>Find matching offers in a robust, active exchange.
            </p>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <h3>Sell</h3>
            <p>Leverage market liquidity to sell any stocks.
            </p>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

{% endblock %}